<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque turpis at libero ullamcorper, quis luctus tellus vestibulum. Nunc auctor cursus consequat. Praesent turpis metus, gravida sed sollicitudin molestie, eleifend a metus. Curabitur porttitor, erat id mollis pulvinar, lacus mauris efficitur erat, ac iaculis ipsum quam sit amet nulla. Mauris ut maximus nulla. Ut tristique pretium risus, vitae bibendum ex mattis dictum. Proin a fermentum neque, sed sodales purus. Nunc id dui porta, feugiat ex sit amet, egestas erat. 
	</p>
</article>


